* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

aside {
  width: 80%; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 30px;
}

.page-section-container {
  width: 40vw;
  margin: 10px 0;
}

.page-section-container > h3 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}